:root {
    --bg-1: #f6f7fb;
    --bg-2: #ffffff;
    --bg-3: #eef0fb;
    --bg-4: #d8ddff;

    --accent: #6f5ff0;
    --accent-light: #5940d6;

    --text-1: #1a1446;
    --text-2: #241b5a;
}

.accounts-wrapper {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--bg-1);
    color: var(--text-2);
    border-radius: 10px;
    margin-top: 20px;
}

.filters-task {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
    border-radius: 10px;
}

.filter-task-box {
    position: relative;
    width: 200px;
}

.filter-task-label {
    background: var(--bg-3);
    padding: 10px 20px;
    width: 100%;
    border-radius: 6px;
    font-size: 15px;
    color: var(--text-1);
    cursor: pointer;
    border: 1px solid var(--bg-4);
    transition: 0.2s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.filter-task-label::placeholder {
    color: #4a4a4a;
}

.filter-task-label:hover {
    background: var(--bg-4);
    border-color: var(--accent);
    color: var(--accent-light);
}

.filter-task-label.date-filter-task {
    padding: 10px 25px;
}

.filter-task-box-child {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: max-content;
    background: rgba(240, 240, 255, 0.85);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 14px;
    border: 1px solid var(--bg-4);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.show-filter-tasked-element {
    display: grid;
}

.filter-task-box-child label {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f0f2ff;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--bg-3);
    color: var(--text-2);
    cursor: pointer;
    transition: 0.15s;
    white-space: nowrap;
}

.filter-task-box-child label:hover {
    background: var(--bg-3);
    border-color: var(--accent);
    color: var(--accent-light);
}

.filter-task-box-child input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.clear-filters-task {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background: #ef4444;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.clear-filters-task:hover {
    background: #dc2626;
}

.create-task {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background: var(--accent);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
    margin-right: auto;
    margin-top: 10px;
}

.create-task:hover {
    background: var(--accent-light);
}

.accounts-table-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
    background: var(--bg-2);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.table-task-header,
.table-task-row {
    display: grid;
    grid-template-columns:
        .3fr 1.2fr 1.2fr .5fr .5fr .5fr 1fr .8fr .6fr;
    padding: 14px 20px;
    align-items: center;
}

.table-task-header {
    background: var(--bg-4);
    color: var(--text-1);
    font-weight: 600;
    border-bottom: 1px solid var(--accent);
}

.table-task-row {
    background: var(--bg-3);
    color: var(--text-2);
    border-bottom: 1px solid var(--bg-4);
    transition: 0.16s ease;
}

.table-task-row:hover {
    background: var(--bg-4);
    color: var(--accent-light);
}

.ope-box {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ope-box .ope-icon {
    font-size: 26px;
    padding: 6px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
    color: var(--accent);
}

.ope-box .ope-icon:nth-child(2){
    color: red;
}

.ope-box .ope-icon:hover {
    transform: scale(1.15);
    color: var(--accent-light);
}

.ope-box .ope-icon:nth-child(2):hover {
    transform: scale(1.15);
    color: rgb(129, 3, 3);
}