.account-type-page {
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.acc-header h2 {
    font-size: 20px;
    margin: 0;
}

.add-btn {
    background: var(--color-teal-8);
    padding: 9px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.add-btn:hover {
    background: var(--color-teal-5);
}

.acc-table {
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 750px;
    overflow-y: auto;
}

.acc-table-head {
    display: grid;
    grid-template-columns: 80px 1fr 120px;
    padding: 12px 20px;
    font-weight: 600;
    background: var(--color-teal-11);
    border-bottom: 1px solid #e5e5e5;
    color: white;
    position: sticky;
    top: 0;
}

.acc-table-body .acc-row {
    display: grid;
    grid-template-columns: 80px 1fr 120px;
    padding: 12px 20px;
    border-bottom: 1px solid #efefef;
    align-items: center;
    transition: .3s;
}

.acc-row:hover {
    background: var(--color-teal-15);
}
.acc-row:hover .show-details{
    box-shadow:  0 0 rgba(0, 0, 0, 0);
    border: none;
    background-color: var(--color-teal-11);
    color: white;
}

.actions-col {
    text-align: center;
}

.row-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.edit-icon-acc,
.delete-icon-acc {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    scale: 1;
}

.edit-icon-acc {
    color: #1976d2;
}

.delete-icon-acc {
    color: #d11a2a;
}

.edit-icon-acc:hover {
    scale: 1.1;
}

.delete-icon-acc:hover {
    scale: 1.1;
}