.ranks-page {
    padding: 30px 0;
    color: #fff;
}

.ranks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: var(--color-teal-3);
}

.add-btn {
    background: var(--color-teal-6);
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
}

.ranks-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    gap: 12px;
}

.table-row-rank {
    background: var(--color-teal-20);
    padding: 14px 18px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    align-items: center;
    transition: .5s;
    color: var(--color-teal-2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table-row-rank:hover {
    background: var(--color-teal-4);
    color: var(--color-teal-19);
}

.table-header-rank {
    background: var(--color-teal-5);
    font-weight: 600;
    color: var(--color-teal-19);
}

.actions-ranks {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
}

.edit-icon-ranks {
    color: var(--color-teal-5) !important;
    cursor: pointer;
    font-size: 1.1rem;
    scale: 1;
    transition: .3s;
}

.delete-icon-ranks {
    color: var(--color-teal-8) !important;
    cursor: pointer;
    font-size: 1rem;
    scale: 1;
    transition: .3s;
}

.table-row-rank:hover .edit-icon-ranks {
    color: var(--color-teal-15) !important;
}

.table-row-rank:hover .delete-icon-ranks {
    color: var(--color-teal-17) !important;
}

.edit-icon-ranks:hover {
    scale: 1.1;
}

.delete-icon-ranks:hover {
    scale: 1.1;
}