.logs-wrapper {
    width: 100%;
    padding: 20px 0;
}

.logs-table {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.logs-wrapper>.filters {
    padding: 10px 0;
}

.table-log-header {
    position: sticky;
    top: 0px;
}

.table-log-header,
.table-log-row {
    display: grid;
    grid-template-columns: 50px 1fr 90px repeat(6, 1fr) 70px;
    padding: 12px;
}

.log-more-icon-box {
    text-align: center;
}

.icon-log-more {
    color: blue;
    font-size: 20px;
    scale: 1;
    transition: .5s;
}

.icon-log-more:hover {
    scale: 1.1;
}

.clear-filters {
    height: auto;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    background: #ef4444;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.clear-filters:hover {
    background: #dc2626;
}

.sort-filter {
    position: relative;
    width: 200px;
}

.filter-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    height: 42px;
    padding: 0 44px 0 16px;

    background: var(--bg-3);
    border: 1px solid var(--bg-4);
    border-radius: 8px;

    font-size: 15px;
    color: var(--text-1);
    cursor: pointer;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.filter-select:hover,
.filter-select:focus {
    background: var(--bg-4);
    border-color: var(--accent);
    color: var(--accent-light);
    outline: none;
}

.select-icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    pointer-events: none;

    font-size: 16px;
    color: var(--text-2);
    transition: 0.2s;
}

.filter-select:hover+.select-icon {
    color: var(--accent);
}