.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0px;
  z-index: 100000;
  transition: .5s;
}

.header-wrapper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.duty-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
  height: min-content;
}

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-name {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.user-rank {
  font-size: 15px;
  color: #555;
}

.profile-icon {
  font-size: 28px;
  color: #555;
}

.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  z-index: 20;
}

.menu-item {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.menu-item:hover {
  background: #f0f0f0;
}

.logout {
  color: red;
}

.header-menu {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
  width: 100%;
}

.menu-list-child-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.menu-list-child-link:hover {
  background-color: #f0f0f0;
  transform: translateY(-4px);
}

.menu-icon {
  font-size: 18px;
  color: var(--color-teal-10);
}

.admin-menu-button {
  cursor: pointer;
}

.menu-list-child-text {
  flex: 1;
  color: var(--color-teal-5);
}

.menu-list-child-link.active {
  background-color: var(--color-teal-20);
  font-weight: 600;
  border-bottom: 1px solid var(--color-teal-1);
}


.ns-connect-box {
  display: flex;
  gap: 10px;
}

.ns-connect-inform {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: var(--color-teal-10);
  border: 1px solid var(--color-teal-12);
  border-radius: 10px;
  cursor: pointer;
}

.ns-connect-text {
  color: white;
}

.connect-icon {
  font-weight: 800;
  font-size: 1rem;
}

.ci-1 {
  color: #169e4a;
}

.ci-2 {
  color: red;
}

.ns-connect-btn {
  border-radius: 10px;
  color: white;
  border: 1px solid var(--color-teal-12);
  padding: 10px 15px;
  background-color: var(--color-teal-6);
  outline: none;
  transition: .5s;
  cursor: pointer;
}

.ns-connect-btn:hover {
  background-color: var(--color-teal-8);
}

.forms-button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-teal-6);
  color: var(--color-teal-6);
  border-radius: 8px;
  transition: .5s;
}

.forms-button.active {
  background-color: var(--color-teal-6);
  color: white;
}

.forms-button:hover {
  background-color: var(--color-teal-6);
  color: white;
}

.scrolled {
  padding-top: 10px;
  background: #ffffff;
}

.scrolled-wrapper {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}