.cp-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cp-wrapper-child{
    padding: 22px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-teal-20);
    position: relative;
}

.cp-wrapper h3 {
    margin: 0;
    font-size: 20px;
}

.cp-wrapper label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    color: #333;
}

.cp-wrapper input {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    outline: none;
    transition: .2s;
    font-size: 14px;
}

.cp-wrapper input:focus {
    border-color: var(--color-teal-2);
}

.cp-wrapper button {
    background: var(--color-teal-5);
    color: white;
    border: none;
    padding: 11px 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    transition: .2s;
}

.cp-wrapper button:hover {
    background: var(--color-teal-3);
}

.cp-wrapper button:disabled {
    opacity: .6;
    cursor: default;
}

.cp-close{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    color: #999;
    transition: .2s;
}

.cp-close:hover{
    color: #333;
}

.inp-wrap{
    position: relative;
    display: flex;
    align-items: center;
}

.inp-wrap input{
    width: 100%;
}

.inp-wrap svg{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #777;
}
